ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #0174cf;
    padding: 20px;
    .header__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__wrap {
            .header__nav {
                display: flex;
                gap: 15px;
                a {
                    font-size: 18px;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}
.promo {
    background: url(../img/future.jpg);
    background-size: cover;
    padding: 300px 0;
    .promo__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 30px;
        text-align: center;
        .modal {
            color: black;
        }
        .promo__title {
            font-size: 70px;
        }
        .promo__descr {
            font-size: 35px;
        }
        button {
            font-size: 30px;
        }
    }
}
.company {
    padding: 30px 0;
    .company__title {
        text-align: center;
        font-size: 40px;
        margin: 30px 0;
    }
}
.services {
    padding: 50px 0;
    .services__title {
        text-align: center;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .services__wrap {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        .card-body {
            text-align: center;
        }
    }
}
.footer {
        background-color: #0174cf;
        padding: 20px;
        .footer__wrap {
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .first {
                font-weight: bold;
                font-size: 18px;
            }
            .footer__socials {
                ul {
                    text-align: right;
                    a{
                       color: white;
                    }
                }
            }
        }
    }